@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;250;300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -10px;
    margin-left: -25px;
}
.logo{
    cursor: pointer;
}
.logo h2{
    font-family: 'Poppins', sans-serif;
    color: #0a66c2;
    font-size: 30px;
    font-weight: 900px;
    letter-spacing: -1px;
}
.logo h2 span{
    color: white;
    background-color:#0a66c2 ;
    padding: 0 5px;
    border-radius:5px;
    margin-left: 2px;
}
.right-navbar{
    font-family: "poppins",sans-serif;
    display: flex;
}
.tools{
    display: flex;
    border-right: 1px solid grey;
}
.join{
    padding: 0 15px;
    margin-top: 8px;
}
.join-now{
    padding: 15px;
    text-decoration: none;
    border-radius: 50px;
    color:  black;
    opacity: .8;
    transition: .1s ease-in-out;
}
.sign-in{
    padding: 15px 19px;
    text-decoration: none;
    border-radius: 50px;
    color:  rgb(28, 0, 242);
    opacity: .9;
    border: 1px solid;
    transition: .1s ease-in-out;
}
.join-now:hover{
    background-color: rgb(240, 235, 235);
}
.sign-in:hover{
    background-color: rgb(220, 240, 247);
}
.tools a{
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding:0 15px;
    opacity: 0.5;
    font-size: 20px;
    flex-direction: column;
    transition: .1s ease-in-out;
}
.tools a:hover{
    opacity: 1;
}
.tools a span{
    font-size: 15px;
}
.body-1{
    display: flex;
    justify-content: space-around;
}
.texts{
    margin-left: 190px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
.texts h1{
    font-weight: 250;
    font-size: 50px;
    color: #8f5849;
}
.texts a{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 370px;
    border: 1px solid #ededed;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px;
    justify-content: space-between;
    font-weight: 300;
    border-radius: 5px;
}
.texts a:hover{
    box-shadow: 0px 0px 12px rgba(0,0,0,.3);
}
.texts a i{
    opacity: .3;
    font-size: 25px;
}
.body-1 img{
    height: 75vh;
    margin-top: 25px;
    width: 45vw;
    margin-right: 25px;
}
.body-2{
    background-color: #f3f2f0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 22px 190px;
    align-items: center;
}
.body-2 h2{
    font-size: 50px;
    font-weight: 100;
    width:  1600px;
}
.topics{
    margin-top: 25px;
    margin-left: 50px;
}
.topics h5{
    opacity: .7;
    font-size: 15px;
    font-weight: 500;
    margin-left: 0px;
    margin-left: 30px;
}
.topics a{
    display: inline flow-root;
    padding: 15px 15px;
    margin: 5px 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    color:  rgb(0, 0, 0);
    opacity: .8;
    border: 1px solid;
    transition: .1s ease-in-out;
}
.topics a:hover{
    background-color: rgb(234, 234, 234);
}
.body-4{
    background-color: #f1ece5;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 22px 0px;
    align-items: center;
    margin-left: -320px;
}
.body-4 h2{
    font-size: 50px;
    font-weight: 300;
    width:  520px;
    color: #a85740;
}
.body-4 a{
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400;
    margin-left: -930px;
    border-radius: 50px;
    transition: .1s ease-in-out;
}
.body-4 a:hover{
    background-color: rgb(219, 231, 237);
}
.body-5{
    margin-top: -20px;
}
.slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 300px;
    padding: 50px 0;
    height: 100vh;
    /* transition: all .5s ease-in-out; */
}
.buttons{
    padding-top: 20px;
    font-family:"Poppins", sans-serif;
    opacity: .8;
    justify-content: end;
    margin-left: 62%;
    /* display: flex; */
    /* margin-right: 1000px; */
    /* width: 100vw; */
}
.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 20px;
    align-items: center;
    border-radius: 50px;
    transition: .1s ease-in-out;
}
.btn:hover{
    background-color: rgb(220, 218, 218);
}
.btn i{
    margin:0 5px;
}
.slider h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 300;
    width:  500px;
    margin-left: 200px;
    color: #a85740;
    margin-right: 100px;
}
.slider h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 200;
    width:  500px;
    margin-left: 200px;
}
.slider img{
    /* margin-left: 200px; */
    width: 400px;
}
.sliders{
    display: flex;
    overflow: hidden;
}
.slider.one{
    display: none;
}
.slider.two{
    display: none;
}
.slider.three{
    display: hidden;
}
.body-6{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    font-family: "Poppins",sans-serif;
    padding-bottom: 50px;
    overflow: hidden;
}
.img-1 img{
    width: 300px;
}
.img-2 img{
    width: 300px;
}
.img-1{
    padding-left: 150px;
}
.body-6 h3{
    width: 500px;
    font-family: "Poppins",sans-serif;
    font-size: 40px;
    font-weight: 300;
}
.img-1 a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: 1px solid ;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    opacity: .7;
    transition: .1s ease-in-out;
}
.img-1 a:hover{
    background-color: rgb(237, 237, 237);
    opacity: 1;
}
.img-2 select{
    background-color: transparent;
    border: 1px solid rgb(211, 211, 211);
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
}
.body-7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.body-7 img{
    width: 800px;
}
.left{
    display: flex;
    flex-direction: column;
    background-color: #f3f2f0;
    margin-right: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 200px;
}
.left h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 300;
    width:  500px;
    margin-left: 300px;
    color: #a85740;
    margin-right: 100px;
}
.left h3{
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 200;
    width:  500px;
    margin-left: 300px;

}
.left a{
    margin-left: 300px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: .8;
    padding: 15px;
    background-color: #eae6df;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 90px;
    border-radius: 5px;
    width: 350px;
    transition: .1s ease-in-out;
}
.left a:hover{
    opacity: 1;
    background-color: rgb(226, 226, 226);
}
.left a i{
    opacity: .6;
}
.body-8{
    display: flex;
    align-items: center;
    /* margin-left: 150px; */
    margin-bottom: 200px;

}
.body-8 .text{
    background-color: rgb(246, 248, 249);
    padding: 200px;
    z-index: -50;
 
}
.body-8 .text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 300;
    width:  500px;
    color: #a85740;
}
.body-8 .text h3{
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 200;
}
.body-8 iframe{
    z-index: 50;
    position: relative;
    padding-left: 150px;
    width: 1000px;
}
.body-9{
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 28%, rgba(0,212,255,1) 100%); 
    padding-bottom: 50px;
}
.body-9 h1{
    padding: 10px 150px;
    width: 100%;
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 200;

}
.body-9 button{
    background-color: blue;
    color: white;
    font-family: "Poppins",sans-serif;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 20px; 
    margin-left: 150px;
    transition: .1s ease-in-out;
}
.body-9 button:hover{
    background-color: #12029e;
}
.body-10{
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f2f0;
    margin-top: 50px;
}
.body-10 .one,.logo{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.one h3{
    font-size: 16px;
    font-weight: 500;
    opacity: .8;
}
.one a{
    text-decoration: none;
    color: black;
    opacity: .6;
    font-size: 15px;
    font-weight: 500;
}
.one a:hover{
    text-decoration: underline;
    color: blue;
}
.last{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 120px;
}
.last span{
    color: white;
    background-color: black;
    margin-left: 1px;
    padding: 0 1px;
    border-radius: 3px;
}
.last small{
    opacity: .6;
    font-size: 12px;
    margin-left: 2px;
}
.last h5{
    font-weight: 500;
}
.last a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
    opacity: .6;
}
.last a:hover{
    opacity: .8;
    text-decoration: underline;
    color: blue;
}
.last select{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    opacity: .6;
    background-color: transparent;
    border: none;
}
.last select:hover{
    color: blue;
    opacity: .8;
}